style.
    * {
        font-family: Arial, sans-serif;
    }

h1 Reset your password
p To reset your password, click the following 
    a(href=`${resetPasswordUrl}`) link

p If you haven't requested for password reset, ignore this e-mail
p #{appName} team
