style.
    * {
        font-family: Arial, sans-serif;
    }

h1 Resetowanie hasła
p Aby zresetować swoje hasło, kliknij w ten 
    a(href=`${resetPasswordUrl}`) link

p Jeżeli nie prosiłeś o resetowanie hasła, zignoruj ten e-mail
p Zespół #{appName}
