style.
    * {
        font-family: Arial, sans-serif;
    }

h1 Welcome, #{name}!
p We are glad to hear you decided to sign up in our app.

p We would like you to confirm your e-mail address. To do this, click the following 
    a(href=`${confirmationUrl}`) link

p Have a nice impressions of using the application
p #{appName} team
