style.
    * {
        font-family: Arial, sans-serif;
    }

h1 Welcome, #{name}!
p We are glad to hear you decided to sign up in our app.
p Have a nice impressions of using the application
p #{appName} team
