style.
    * {
        font-family: Arial, sans-serif;
    }

h1 Witaj, #{name}!
p Cieszymy się, że zdecydowałeś się u nas zarejestrować.
p Chcielibyśmy, abyś potwierdził swój adres e-mail. Aby to zrobić, kliknij w ten 
    a(href=`${confirmationUrl}`) link

p Serdecznie pozdrawiamy i życzymy miłego korzystania z naszej aplikacji.
p Zespół #{appName}
